*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.insta{
    padding: 30px 0px 0px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 90px;
  }
  .insta .img-insta{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: 1s;
    .insta-icon{
      position: absolute;
      top: 57%;
      left: 50%;
      transform: translate(-50% , -50% );
      font-size: 90px;
      z-index: 1;
      color: #0000008e;
    }
  }
  
  .insta .img-insta .single-img{
    width: 20%;
    /* min-width: 16.666%; */
    transition: transform 1s ease;
    position: relative;
    overflow: hidden;
    &:hover{
     &::before{
      opacity: 1;
     }
     img{
      transform: scale(1.1);
     }
    }
   
  }
  .insta .img-insta .single-img img{
    width: 100%;
    transition: transform 1s ease;
    object-fit: contain;
    flex-shrink: 0;
    
  }
  
  .insta .img-insta .single-img::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      opacity: 0;
      background-color: rgba(0,0,0,0.4);
      z-index: 1;
      display: inline-block;
    width: 100%;
      transition: all 0.5s ease-in-out;
  }
  
  .insta .img-insta .instgram{
    position: absolute;
    background-color: #ffffffe0;
    width: 350px;
    border-radius: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    z-index: 2;
    h1{
      font-size: 28px;
      font-weight: 500;
    }
    p{
      font-size: 18px;
      opacity: 0.6;
    }
  }
  .insta .img-text{
    padding: 70px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 70px;
    img{
      width: 20%;
      opacity: .6;
      transition: 1s;
      &:hover{
        opacity: 1;
      }
    }
  }
  @media (max-width:992px) {
    .insta .img-insta .single-img{
      min-width: 25%;
  
    }
    .insta .img-text img{
      width: 24%;
    }
  }
  @media (max-width:768px) {
    .insta .img-insta .single-img{
      min-width: 33.333%;
    }
    .insta .img-text img{
      width: 32%;
    }
  }
  @media (max-width:480px) {
    .insta .img-insta .single-img{
      min-width: 50%;
    }
    .insta .img-text img{
      width: 49%;
    }
  }