
/* variables */
:root{
  --plue-dark:#00204A;
  --black:#0c0c0c;
  --white:#ffffff;
  --plue-light:#ff324d;
  --font-16:16px;
  --font-32:32px;
  --font-24:24px;
  --font-48:48px;
  --font-14:14px;
  --font-open:Sans-serif;
  --transition-1:1s;
}

.container {
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;  
}
/* small */ 
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.footer{
  display: flex;
  background-color: #202325;
  color: var(--white);
  padding: 100px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .container{
  display: flex;
  align-items:first baseline;
  gap: 20px;
  flex-wrap: wrap;
  letter-spacing: 1px;
}
.footer .container .address{
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 25%;
  gap: 10px;

}
.footer .container .address h1{
  font-size: var(--font-24);
  font-family: var(--font-open);
  font-weight:400 ;
}
.footer .container .address span{
  font-size: var(--font-16);
  font-weight: 400;
  font-family: var(--font-open);
  transition: var(--transition-1);
  &:hover{
    color: var(--plue-light);
    cursor: pointer;
  }
}
.footer .container .address span .icon-span{
  margin-right:5px ;
}
.footer .container .address .icon-addres{
  display: flex;
  gap: 10px;
  font-size: 25px;
  color: var(--white);
  margin-top: 20px;
  .icon{
    transition: var(--transition-1);
    &:hover{
      color: var(--plue-light);
    }
  }
}
.footer .container .info{
  width: 25%;
  text-align: start;
}
.footer .container .info h1{
  font-size: var(--font-24);
  font-family: var(--font-open);
  font-weight:400 ;
  margin: 0px 0px 20px;
}
.footer .container .info p{
  font-size: var(--font-16);
  font-weight: 400;
  font-family: var(--font-open);
  line-height: 1.5;
}
.footer .container .links{
  width: 15%;
  text-align: start;
}
.footer .container .links h1{
  font-size: var(--font-24);
  font-family: var(--font-open);
  font-weight:400 ;
  margin: 0px 0px 20px;
}
.footer .container .links ul{
  list-style: none;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 10px;
}
.footer .container .links ul li a{
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-16);
  font-family: var(--font-open);
  font-weight: 400;
  transition: var(--transition-1);
  &:hover{
    color: var(--plue-light);
  }
}
.footer .container .subscribe{
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  width: 25%;
}
.footer .container .subscribe h1{
  font-size: var(--font-24);
  font-family: var(--font-open);
  font-weight:400 ;
  margin: 0px 0px 20px;
}
.footer .container .subscribe input{
  outline: none;
  border:none ;
  background-color:inherit;
  border-bottom: 1px solid var(--white);
  color: var(--white);
  font-family: var(--font-open);
  height: 45px;
  width: 250px;
}
.footer .container .subscribe input::-webkit-input-placeholder {
  color: var(--white);
  font-family: var(--font-open);
  font-weight: 300;
  font-size: var(--font-16);
}
.footer .container .subscribe p{
 font-family: sans-serif;
 font-weight: 400;
 font-size: 16px;
}
@media (max-width:992px) {
  .footer .container .address{
    width: 48%;
  }
  .footer .container .info{
    width: 48%;
  }
  .footer .container .links{
    width: 48%;
  }
  .footer .container .subscribe{
    width: 48%;
  }
  
}
@media (max-width:630px) {
  .footer .container{
    display: flex;
    align-items:center;
   
  }
  .footer .container .address{
    width: 90%;
  }
  .footer .container .info{
    width: 90%;
  }
  .footer .container .links{
    width: 90%;
  }
  .footer .container .subscribe{
    width: 90%;
    input{
      width: 100%;
    }
    .btn-subscribe{
      width: 100%;
    }
    
  }
  
}